<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FixedAsset_Module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="64c4b7">  <td>20/07/02 16:46:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Fixed_Asset_03.AfterClass()[pri:0, instance:fixedAssetModule.Smoke_Fixed_Asset_03@76b74e9c]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878598679</td>   <td></td> </tr>
<tr bgcolor="64c4b7">  <td>20/07/02 16:45:49</td>   <td>-46036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fixed_Asset_03.FixedAssetMenu()[pri:0, instance:fixedAssetModule.Smoke_Fixed_Asset_03@76b74e9c]">FixedAssetMenu</td> 
  <td>main@878598679</td>   <td></td> </tr>
<tr bgcolor="63c787">  <td>20/07/02 16:46:41</td>   <td>5642</td> <td title="&lt;&lt;AfterMethods.beforeClass()[pri:0, instance:common.AfterMethods@74f7d1d2]">&lt;&lt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878598679</td>   <td></td> </tr>
<tr bgcolor="64c4b7">  <td>20/07/02 16:45:51</td>   <td>-44340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fixed_Asset_03.fixedAssetGroup()[pri:0, instance:fixedAssetModule.Smoke_Fixed_Asset_03@76b74e9c]">fixedAssetGroup</td> 
  <td>main@878598679</td>   <td></td> </tr>
<tr bgcolor="78826f">  <td>20/07/02 16:45:00</td>   <td>-95375</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@5400db36]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878598679</td>   <td></td> </tr>
<tr bgcolor="64c4b7">  <td>20/07/02 16:45:36</td>   <td>-58983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fixed_Asset_03.navigateSideBar()[pri:0, instance:fixedAssetModule.Smoke_Fixed_Asset_03@76b74e9c]">navigateSideBar</td> 
  <td>main@878598679</td>   <td></td> </tr>
<tr bgcolor="78826f">  <td>20/07/02 16:46:56</td>   <td>21015</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@5400db36]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878598679</td>   <td></td> </tr>
<tr bgcolor="64c4b7">  <td>20/07/02 16:45:15</td>   <td>-79793</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Fixed_Asset_03.setUp()[pri:0, instance:fixedAssetModule.Smoke_Fixed_Asset_03@76b74e9c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878598679</td>   <td></td> </tr>
</table>
