<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>serviceModule.Smoke_Service_0005</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_verifyuserlogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_navigationmenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_btn_service</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_ServiceHireAgreement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_verifyTheLogo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_navigateToTheLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
</table>
