<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>service Module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:19:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Service_0005.AfterClass()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:15:57</td>   <td>-220742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Service_0005._ServiceHireAgreement()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">_ServiceHireAgreement</td> 
  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:15:51</td>   <td>-227075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Service_0005._btn_service()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">_btn_service</td> 
  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:15:34</td>   <td>-244285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Service_0005._navigateToTheLoginPage()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">_navigateToTheLoginPage</td> 
  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:15:50</td>   <td>-228440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Service_0005._navigationmenu()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">_navigationmenu</td> 
  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:15:40</td>   <td>-238445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Service_0005._verifyTheLogo()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">_verifyTheLogo</td> 
  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:15:40</td>   <td>-237636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Service_0005._verifyuserlogin()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">_verifyuserlogin</td> 
  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="89b776">  <td>20/07/02 16:19:44</td>   <td>5582</td> <td title="&lt;&lt;AfterMethods.beforeClass()[pri:0, instance:common.AfterMethods@352c308]">&lt;&lt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="93646b">  <td>20/07/02 16:14:53</td>   <td>-285358</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@4b4dd216]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="93646b">  <td>20/07/02 16:19:58</td>   <td>20148</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@4b4dd216]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@51460663</td>   <td></td> </tr>
<tr bgcolor="a46bef">  <td>20/07/02 16:15:06</td>   <td>-272279</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Service_0005.setUp()[pri:0, instance:serviceModule.Smoke_Service_0005@5ca17ab0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@51460663</td>   <td></td> </tr>
</table>
