<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>salesAndMarketingModule.S_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>serviceModule.Service_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_selectlabour</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectSerialBatchProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectbatchproduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_verifyuserlogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_btn_service</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_btn_ServiceJobOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectResources</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectlotproduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_navigateToTheLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_verifyTheLogo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectSERVICEproduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_task</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectexpense</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_createinternalorder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_searchlocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_navigationmenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectsubcontract</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_selectFIFOproduct</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>common.BeforeMethods</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>common.AfterMethods</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
