<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sales_Module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c88764">  <td>19/12/26 00:05:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;S_TC_001.AfterClass()[pri:0, instance:salesAndMarketingModule.S_TC_001@66ba7e45]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096194236</td>   <td></td> </tr>
<tr bgcolor="faeabf">  <td>19/12/26 00:05:58</td>   <td>261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AfterMethods.beforeClass()[pri:0, instance:common.AfterMethods@70e02081]">beforeClass</td> 
  <td>main@2096194236</td>   <td></td> </tr>
<tr bgcolor="c88764">  <td>19/12/26 00:05:36</td>   <td>-21824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="S_TC_001.checkSalesAndMarketing()[pri:0, instance:salesAndMarketingModule.S_TC_001@66ba7e45]">checkSalesAndMarketing</td> 
  <td>main@2096194236</td>   <td></td> </tr>
<tr bgcolor="bf80bf">  <td>19/12/26 00:05:20</td>   <td>-37361</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@42435b98]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096194236</td>   <td></td> </tr>
<tr bgcolor="bf80bf">  <td>19/12/26 00:06:05</td>   <td>7053</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@42435b98]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096194236</td>   <td></td> </tr>
<tr bgcolor="c88764">  <td>19/12/26 00:05:24</td>   <td>-33834</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;S_TC_001.setUp()[pri:0, instance:salesAndMarketingModule.S_TC_001@66ba7e45]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2096194236</td>   <td></td> </tr>
</table>
