<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75b789">  <td>20/03/13 16:02:10</td>   <td>0</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@1654a892]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1120670624</td>   <td></td> </tr>
<tr bgcolor="f791c6">  <td>20/03/13 16:02:15</td>   <td>5535</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BalancingLevel_Regression_004.setUp()[pri:0, instance:inventoryAndWarehouseModule.BalancingLevel_Regression_004@2577d6c8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1120670624</td>   <td></td> </tr>
<tr bgcolor="f791c6">  <td>20/03/13 16:02:23</td>   <td>13630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BalancingLevel_Regression_004.navigateStockAdjustmentPage()[pri:0, instance:inventoryAndWarehouseModule.BalancingLevel_Regression_004@2577d6c8]">navigateStockAdjustmentPage</td> 
  <td>main@1120670624</td>   <td></td> </tr>
<tr bgcolor="75b789">  <td>20/03/13 16:03:40</td>   <td>90189</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@1654a892]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1120670624</td>   <td></td> </tr>
</table>
