<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>salesAndMarketingModule.SMOKE_SALES_0001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriyDocFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
</table>
