<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sales And Marketing_Module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b76fa0">  <td>21/07/19 22:02:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SMOKE_SALES_0001.AfterClass()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="b76fa0">  <td>21/07/19 21:59:34</td>   <td>-195172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMOKE_SALES_0001.checkJourney()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">checkJourney</td> 
  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="b76fa0">  <td>21/07/19 21:58:29</td>   <td>-260864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMOKE_SALES_0001.checkSalesAndMarketing()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">checkSalesAndMarketing</td> 
  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="b76fa0">  <td>21/07/19 21:59:27</td>   <td>-202880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMOKE_SALES_0001.checkSalesOrderPage()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">checkSalesOrderPage</td> 
  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="b76fa0">  <td>21/07/19 21:59:12</td>   <td>-217191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMOKE_SALES_0001.clickSalesAndMarketing()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">clickSalesAndMarketing</td> 
  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="b76fa0">  <td>21/07/19 21:59:23</td>   <td>-206890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMOKE_SALES_0001.clickSalesOrder()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">clickSalesOrder</td> 
  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="b76fa0">  <td>21/07/19 21:59:43</td>   <td>-186777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMOKE_SALES_0001.fillFormData()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">fillFormData</td> 
  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="8c7385">  <td>21/07/19 21:57:56</td>   <td>-293336</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@889d9e8]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="8c7385">  <td>21/07/19 22:02:53</td>   <td>3611</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@889d9e8]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@730955696</td>   <td></td> </tr>
<tr bgcolor="b76fa0">  <td>21/07/19 21:58:13</td>   <td>-276768</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SMOKE_SALES_0001.setUp()[pri:0, instance:salesAndMarketingModule.SMOKE_SALES_0001@5246a3b3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@730955696</td>   <td></td> </tr>
</table>
