<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<<<<<<< HEAD
=======
<td>fixedAssetModule.FA_TC_008</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBook8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>disposalfixedAssetInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewPurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceJournal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procurementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleasepurchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_009</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBook9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewPurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ApplyFixedAssetSellingDisposal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceJournal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procurementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedTextInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetSellingDisposal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleasepurchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_050</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>actualCalculationNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>estimateNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_006</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>splitNewAssetPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBook6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewPurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceJournal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procurementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleasepurchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_007</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>splitExisting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ApplysplitExisting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBook7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewPurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceJournal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procurementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleasepurchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_012</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>newBillOfOperationBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionFillForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MultipleProduction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionOperationSupply</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BillOfOperationBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>releaseFixedAssetBook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBookDepreciation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FlagFixedAssetBook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBookCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBookView</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_011</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>newBillOfOperationBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionFillForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionOperationSupply</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LineProduction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BillOfOperationBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_005</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetBook5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>creditandDebitvalue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewPurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceJournal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procurementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetRevalue</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleasepurchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigateDispatchOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>internalOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>binCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>inventorynwarehousingBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>journalEntry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseDispatchOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewInternalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingInternalOrderMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToInternalJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_003</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CompletionProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>newProjectAdding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectGLAcc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>projectButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleaseAssetInfoProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectVendorLookup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectNewNavigateToOutboundAdvice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectJournalAccrual</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectUpdate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JournalEntryProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectEndCost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectNavigateToOutboundAdvice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectoutBoundPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectReleaseDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>projectDraftNRelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectCostAllocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProjectNavigateToAgain</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_026</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkInventoryWarehousing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickDelivery</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickInventory</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_025</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickVehicleInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_024</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_023</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickFreeTextInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_022</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesExchange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_021</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Smoke_Production_0002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>allone</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_020</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Smoke_Production_0001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>allinone</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.FA_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>purchaseOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewPurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceJournal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procurementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleasepurchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_040</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>OrganizationManagementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_044</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>overheadInfoCreate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>overheadInfoSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>overheadInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_043</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createOverheadInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewLocationInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OrganizationManagementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_049</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>actualCalculationNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>estimateNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftNreleaseNewPricingProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BillOfMaterialFillGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BillOfMaterialNewGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InventoryBtnGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BillOfMaterialNavigateGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BillOfMaterialCompleteGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductionMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_015</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAccountInformationPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_014</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickConsolidateInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_013</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SalesReturnnvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_012</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_011</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_010</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_019</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPricing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.Com_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_018</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickContactInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.Com_TC_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_017</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_016</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_071</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BulkProductionComplete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BulkProductionGenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBulkProduction1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SummaryProductionBulk1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBulk1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BulkProductionLoadInternal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BulkProduction1Release</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BulkProductionForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftNRelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionOrder1Complete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InternalReceipt</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_003</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>salesOrderOutboundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesOrderSalesInvoicee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoiceService</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
>>>>>>> 053af469ab5e318e2a20faf3731dcf8ee7daf6fc
<td>salesAndMarketingModule.S_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<<<<<<< HEAD
<td>checkSalesOrderPage</td>
=======
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_009</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_008</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doTheSalesInvoice</td>
>>>>>>> 053af469ab5e318e2a20faf3731dcf8ee7daf6fc
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<<<<<<< HEAD
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
=======
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_007</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
>>>>>>> 053af469ab5e318e2a20faf3731dcf8ee7daf6fc
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<<<<<<< HEAD
=======
<tr>
<td>salesAndMarketingModule.S_TC_006</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourneyInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.S_TC_005</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormDataSalesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Con_TC_060</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>internalOrderConvert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductionBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>internalOrderGenerate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SummaryBulkProduction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BulkProductionOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BulkProductionForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>internalOrderLoad</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>internalOrderComplete</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>internalOrderdraftRelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>internalOrderGenerateForProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseBulkProductionOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
>>>>>>> 053af469ab5e318e2a20faf3731dcf8ee7daf6fc
</table>
