<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>fleetModule.Smoke_Fleet_01</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_NavigationToVehicleModelPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_userLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_AddVehicleMakeParameter</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_fleetNavigation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_navigateToTheLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_verifyTheLogo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_menuNavigation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>_fleetParameterPageNavigation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
</table>
