<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Fleet Management</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ffddff">  <td>21/05/25 14:30:23</td>   <td>0</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@4d3ca6c7]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:30:41</td>   <td>17475</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Fleet_01.setUp()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:30:53</td>   <td>29125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fleet_01._navigateToTheLoginPage()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">_navigateToTheLoginPage</td> 
  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:30:57</td>   <td>33530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fleet_01._verifyTheLogo()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">_verifyTheLogo</td> 
  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:30:58</td>   <td>34196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fleet_01._userLogin()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">_userLogin</td> 
  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:31:05</td>   <td>41276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fleet_01._menuNavigation()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">_menuNavigation</td> 
  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:31:06</td>   <td>42706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fleet_01._fleetNavigation()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">_fleetNavigation</td> 
  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:31:12</td>   <td>48991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fleet_01._fleetParameterPageNavigation()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">_fleetParameterPageNavigation</td> 
  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:31:17</td>   <td>53106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Fleet_01._AddVehicleMakeParameter()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">_AddVehicleMakeParameter</td> 
  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="71988b">  <td>21/05/25 14:35:10</td>   <td>286641</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Fleet_01.AfterClass()[pri:0, instance:fleetModule.Smoke_Fleet_01@22e5f96e]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512407823</td>   <td></td> </tr>
<tr bgcolor="ffddff">  <td>21/05/25 14:35:14</td>   <td>290347</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@4d3ca6c7]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512407823</td>   <td></td> </tr>
</table>
