<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Administration_Module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4b69d">  <td>20/06/24 03:01:13</td>   <td>0</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@36dfbdaf]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:18</td>   <td>4164</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Admin_0004.setUp()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:23</td>   <td>9494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.navigateToTheLoginPage()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">navigateToTheLoginPage</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:24</td>   <td>10965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifyTheLogo()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifyTheLogo</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:24</td>   <td>11030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifyuserlogin()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifyuserlogin</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:29</td>   <td>15566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.navigationmenu()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">navigationmenu</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:30</td>   <td>16723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifybtn_administration()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifybtn_administration</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:31</td>   <td>17912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifyclickuserinformation()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifyclickuserinformation</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:33</td>   <td>19837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.clickbtnnewuser()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">clickbtnnewuser</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:40</td>   <td>26759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.clickbtndraft()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">clickbtndraft</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:56</td>   <td>42812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.givepermission()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">givepermission</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:02:47</td>   <td>94058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.clickreleasebutton()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">clickreleasebutton</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:03:41</td>   <td>147662</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Admin_0004.AfterClass()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:46</td>   <td>153118</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Admin_0001.setUp()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:52</td>   <td>158528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.navigateToTheLoginPage()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">navigateToTheLoginPage</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:53</td>   <td>159763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifyTheLogo()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifyTheLogo</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:53</td>   <td>159832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifyuserlogin()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifyuserlogin</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:58</td>   <td>164391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.navigationmenu()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">navigationmenu</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:59</td>   <td>165538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifybtn_administration()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifybtn_administration</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:00</td>   <td>166737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifyclickuserinformation()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifyclickuserinformation</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:02</td>   <td>168517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.searchuserforstatus()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">searchuserforstatus</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:06</td>   <td>172714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.btn_action()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">btn_action</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:15</td>   <td>181358</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Admin_0001.AfterClass()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:20</td>   <td>186797</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Admin_0002.setUp()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:25</td>   <td>191792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.navigateToTheLoginPage()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">navigateToTheLoginPage</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:26</td>   <td>192978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.verifyTheLogo()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">verifyTheLogo</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:26</td>   <td>193049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.verifyTheLogoUserLogin()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">verifyTheLogoUserLogin</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:31</td>   <td>197550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.clickconfigurationbutton()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">clickconfigurationbutton</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:33</td>   <td>200001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.changepassword()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">changepassword</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:44</td>   <td>210823</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Admin_0002.AfterClass()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="a4b69d">  <td>20/06/24 03:04:47</td>   <td>214057</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@36dfbdaf]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
</table>
