<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Administration_Module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:03:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Admin_0004.AfterClass()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:15</td>   <td>33696</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Admin_0001.AfterClass()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:44</td>   <td>63161</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Smoke_Admin_0002.AfterClass()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:06</td>   <td>25052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.btn_action()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">btn_action</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:33</td>   <td>52339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.changepassword()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">changepassword</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:40</td>   <td>-120903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.clickbtndraft()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">clickbtndraft</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:33</td>   <td>-127825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.clickbtnnewuser()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">clickbtnnewuser</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:31</td>   <td>49888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.clickconfigurationbutton()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">clickconfigurationbutton</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:02:47</td>   <td>-53604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.clickreleasebutton()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">clickreleasebutton</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:56</td>   <td>-104850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.givepermission()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">givepermission</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="a4b69d">  <td>20/06/24 03:01:13</td>   <td>-147662</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@36dfbdaf]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:23</td>   <td>-138168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.navigateToTheLoginPage()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">navigateToTheLoginPage</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:52</td>   <td>10866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.navigateToTheLoginPage()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">navigateToTheLoginPage</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:25</td>   <td>44130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.navigateToTheLoginPage()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">navigateToTheLoginPage</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:29</td>   <td>-132096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.navigationmenu()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">navigationmenu</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:58</td>   <td>16729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.navigationmenu()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">navigationmenu</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:02</td>   <td>20855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.searchuserforstatus()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">searchuserforstatus</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="a4b69d">  <td>20/06/24 03:04:47</td>   <td>66395</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@36dfbdaf]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:18</td>   <td>-143498</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Admin_0004.setUp()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:46</td>   <td>5456</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Admin_0001.setUp()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:20</td>   <td>39135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Smoke_Admin_0002.setUp()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:24</td>   <td>-136697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifyTheLogo()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifyTheLogo</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:53</td>   <td>12101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifyTheLogo()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifyTheLogo</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:26</td>   <td>45316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.verifyTheLogo()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">verifyTheLogo</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="ade193">  <td>20/06/24 03:04:26</td>   <td>45387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0002.verifyTheLogoUserLogin()[pri:0, instance:administrationModule.Smoke_Admin_0002@51d143a1]">verifyTheLogoUserLogin</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:30</td>   <td>-130939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifybtn_administration()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifybtn_administration</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:59</td>   <td>17876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifybtn_administration()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifybtn_administration</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:31</td>   <td>-129750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifyclickuserinformation()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifyclickuserinformation</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:04:00</td>   <td>19075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifyclickuserinformation()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifyclickuserinformation</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="af80cb">  <td>20/06/24 03:01:24</td>   <td>-136632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0004.verifyuserlogin()[pri:0, instance:administrationModule.Smoke_Admin_0004@4f82663e]">verifyuserlogin</td> 
  <td>main@150950036</td>   <td></td> </tr>
<tr bgcolor="70aff0">  <td>20/06/24 03:03:53</td>   <td>12170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Smoke_Admin_0001.verifyuserlogin()[pri:0, instance:administrationModule.Smoke_Admin_0001@e04ccf8]">verifyuserlogin</td> 
  <td>main@150950036</td>   <td></td> </tr>
</table>
