<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9867b">  <td>20/05/21 00:40:10</td>   <td>0</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@36a7abe1]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2002097394</td>   <td></td> </tr>
<tr bgcolor="8b95bf">  <td>20/05/21 00:40:21</td>   <td>10757</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IN_SA_084.setUp()[pri:0, instance:inventoryAndWarehouseModule.IN_SA_084@64a896b0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2002097394</td>   <td></td> </tr>
<tr bgcolor="8b95bf">  <td>20/05/21 00:40:28</td>   <td>17577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IN_SA_084.navigateStockAdjustmentPageDandC()[pri:0, instance:inventoryAndWarehouseModule.IN_SA_084@64a896b0]">navigateStockAdjustmentPageDandC</td> 
  <td>main@2002097394</td>   <td></td> </tr>
<tr bgcolor="8b95bf">  <td>20/05/21 00:42:43</td>   <td>152741</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;IN_SA_084.AfterClass()[pri:0, instance:inventoryAndWarehouseModule.IN_SA_084@64a896b0]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2002097394</td>   <td></td> </tr>
<tr bgcolor="b9867b">  <td>20/05/21 00:42:48</td>   <td>158264</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@36a7abe1]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2002097394</td>   <td></td> </tr>
</table>
