<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>salesAndMarketingModule.SMOKE_SALES_0006</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>journeyConfigure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.SMOKE_SALES_0008</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourneyInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_019</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerThatTheSubContractTypeTaskCanBeConverted</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_014</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerTheAbilityOfCreatingInternalReturnOrders</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addAprojectTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToBankDepositForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDraftReleeseBankDeposit</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillBankDepositDeatils</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFindInboundPaymentForBankDeposit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.SMOKE_PRO_03</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerWhetherUserCanBeAbleToCreateAImportCostEstimation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.SMOKE_PRO_05</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerWhetherUserCanViewAndSelectTheRequisitionInThePurchaseDesk</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.Smoke_Fixed_Asset_02</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.Smoke_Fixed_Asset_03</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.Smoke_Fixed_Asset_01</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewFixedAssetBook</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>fixedAssetModule.Smoke_Fixed_Asset_04</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CreateFixedAssetInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FixedAssetMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_010</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerThatActualCostForResourceIsUpdated</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_011</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToOutboundPaymentAdvice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDraftReleeseChecoutOP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillOutboundPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyConverToOutboundPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillDetailPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_011</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerTheAbilityOfCreatingInternalOrders</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addAprojectTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.SMOKE_SALES_0001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriyDocFlow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_010</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToOutboundPaymentInvoiceForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillOutboundPaymentAdvice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckoutDarftReleeseOutboundPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.SMOKE_SALES_0002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.SMOKE_SALES_0003</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.SMOKE_SALES_0004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>outBoundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesOrderPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriyBinCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>salesInvoice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>salesAndMarketingModule.SMOKE_SALES_0005</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>veriyBinCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillFormData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkJourney</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickSalesAndMarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_007</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addAprojectTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>funOfRecordingActualHours</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addAprojectTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Smoke_Production_0002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>allone</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>procumentModule.Pro7PO</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Pro7PurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>ProductionModule.Smoke_Production_0001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>allinone</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>fixedAssetModule.FA_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>purchaseOrderButtonClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftandrelease</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateToJourneyView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingNewPurchaseOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fixedAssetTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>navigateSideBar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>purchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PurchaseinvoiceJournal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>procurementBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingAssetGroup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>fillingMandatoryFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releaseFA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ReleasepurchaseInvoiceByPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>advanceTab</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>procumentModule.PM_PI_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>comPurchaseInvoiceToShipmentCosting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_PI_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>comPurchaseInvoiceToInboundShipment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_PI_003</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>comPurchaseInvoiceService</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_PR_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>newPurchaseReq</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addPurchaseReq</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_PR_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>newPurchaseReq</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_PR_005</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ConToPOaction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_PR_004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkUPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_023</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyOneOffPettyCash</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_022</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySetlementTypePettyCash</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_021</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToPettyCashPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillNewPettyCashFormIOU</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNewPettyCashIOU</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_VA_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addVenAgreement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Smoke_Finance_11</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyReleaseJournelEntrySmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToJourneEntryPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToNewJournelEntryForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDraftJournelEntrySmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillBankAdjustment</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Smoke_Finance_10</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToBankREconcilationForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillBankReconcilation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCompleteAdjustmentBankReconcilation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verfyDraftReleaseBankReconcilation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.SMOKE_PROJECT_003</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addingTask</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PR_VI_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewVen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>newVen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.SMOKE_PROJECT_004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>costAllocation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PR_VI_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>newVen</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.SMOKE_PROJECT_005</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkProject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>costAllocation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.SMOKE_PROJECT_006</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPOC</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addSubContract</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkValueInOverview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>creatingServiceJobOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>costAllocationProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>convertSubContract</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkFinanceModule</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkExpenseInAccrual</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>actualUpdateInputProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addAprojectTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>draftReleaseService</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickProj</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addInterdepartment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyInterdepartmentTask</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createInternalOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_029</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerWhetherPOCOfTheInterDepartmentTask</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.SMOKE_PRO_11</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerWhetherUserCanDoAReturnAgainstToThePurchase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>projectModule.Project_TC_024</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerTheAbilityOfCreatingServiceJobOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.SMOKE_PRO_10</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerWhetherDocumentFlowDisplaysAccurately</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_PO_004</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>comPurchaseOrderToShipmentCostingjourney</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.pro7</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Pro7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Smoke_Finance_02</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyLoanCreationAndJournelEntryValidity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyReleaseBankFacilityAgreementSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDraftBankFacilityAgreementSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillBankFacilityAgreementSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToNewBankFacilityAgreement</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Smoke_Finance_01</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToBankAdjustmentPageSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyReleaseBankAdjustmentSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFilaBankAdjustmentDetailsSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToNewBankAdjustmentFormSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDraftBankAdjustmentSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckoutBankAdjustmentSmoke</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>procumentModule.PM_RFQ_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>clickPro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickNav</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>relRFQ</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_002</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillInboundPaymentCustomerReceiptVouche</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFinTC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckoutDraftReleeseCustomerRecipt</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>financeModule.Fin_TC_001</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToTheFananceModule</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCheckoutDraftReleeseIPA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyNavigateToIPAForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillIPAFormDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
</table>
