<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Inventory_And_Warehouse_Module</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0659e">  <td>20/07/02 11:34:43</td>   <td>0</td> <td title="&gt;&gt;TestInitiateTest.initiateTheTest()[pri:0, instance:common.TestInitiateTest@7dd712e8]">&gt;&gt;initiateTheTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512238546</td>   <td></td> </tr>
<tr bgcolor="6b7b8e">  <td>20/07/02 11:34:54</td>   <td>11177</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IW_TC_003.setUp()[pri:0, instance:inventoryAndWarehouseModule.IW_TC_003@2c282004]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512238546</td>   <td></td> </tr>
<tr bgcolor="6b7b8e">  <td>20/07/02 11:35:12</td>   <td>28435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IW_TC_003.verifyCreateBatchSpecificProduct()[pri:0, instance:inventoryAndWarehouseModule.IW_TC_003@2c282004]">verifyCreateBatchSpecificProduct</td> 
  <td>main@512238546</td>   <td></td> </tr>
<tr bgcolor="6b7b8e">  <td>20/07/02 11:36:16</td>   <td>92518</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;IW_TC_003.AfterClass()[pri:0, instance:inventoryAndWarehouseModule.IW_TC_003@2c282004]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512238546</td>   <td></td> </tr>
<tr bgcolor="c0659e">  <td>20/07/02 11:36:21</td>   <td>98166</td> <td title="&lt;&lt;TestInitiateTest.sendEmail()[pri:0, instance:common.TestInitiateTest@7dd712e8]">&lt;&lt;sendEmail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@512238546</td>   <td></td> </tr>
</table>
